
.root {
    -fx-background-color: #ffffff;
    
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: #e4e0fc;
   -fx-text-box-border: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #504699;
    -fx-background-radius: 5em;
}

/*Menu Bar*/
.menu-bar {
    -fx-background-color: #8877ff;
}

.menu-bar:focused {
	-fx-background-color: #504699;
}

/*Menus*/
.menu .label {
    -fx-text-fill: -fx-light-text-color;
}

.menu-item {
    -fx-background-color: #8877ff;
}

/*Menu Items*/
.menu-item:focused {
    -fx-background-color: #504699;
}

.menu-item .label {
    -fx-text-fill: white;
}

.button-default {
	-fx-border-color: #1f00ff; 
	-fx-border-width: 0.5px;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background {
    -fx-background-color: #8877ff;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell:selected .text {
    -fx-fill: white ;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #e4e0fc;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}